* {
  margin: 0%;
  padding: 0;
  box-sizing: border box; }

body {
  background-color: #FBFCE6;
  font-family: "Quicksand-Light"; }

@font-face {
  font-family: "Quicksand-Light";
  src: url(../assets/fonts/Quicksand-Light.ttf); }

@font-face {
  font-family: "Amaranth-Italic";
  src: url(../assets/fonts/Amaranth-Italic.ttf); }

h1, h2 {
  font-family: "Amaranth-Italic"; }

header nav {
  font-size: 1.2rem; }
  header nav .logo {
    width: 3rem;
    border-radius: 15%; }
  header nav .nav-item {
    margin: 0.2rem; }
  header nav .nav-item a:hover {
    background-color: #6d9e55d3;
    border-radius: 5px;
    color: white; }

main .intro_container {
  display: flex;
  position: relative;
  background-image: url(../assets/fondo_index_section1.jpg);
  width: 95%;
  margin: 0 auto;
  background-attachment: fixed;
  background-size: cover;
  padding: 1.5rem;
  text-align: center; }
  main .intro_container .intro__div {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.651);
    padding: 1rem;
    transition: all 1s;
    line-height: 1.8; }
  main .intro_container .intro__div:hover {
    background-color: #6D9E55;
    color: #FBFCE6; }

.sectionText {
  text-align: center;
  margin: 3rem; }

.reflexion {
  text-align: center;
  margin: 3rem; }
  .reflexion__texto {
    margin: 3rem;
    line-height: 1.8; }

.accordion {
  margin: 3rem; }

main .nosotros__texto {
  text-align: center;
  line-height: 1.8;
  margin: 3rem;
  background-color: #95C484;
  border-radius: 5px; }
