<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="consultorio de medicina tradicional china">
    <meta name="keywords" content="medicina, salud, bienestar, acupuntura, moxibustion, pediluvio, drenaje, linfatico, masaje, electroestimulacion">
    <link rel="icon" href="../assets/favicon-32x32.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Naturalmedtch - Contacto</title>
</head>
<body>
    <header id="top">
        <nav class="navbar navbar-expand-lg" style="background-color: #dde2a4">
            <div class="container-fluid">
              <div>
                <img class="logo" src="../assets/logo_naturalmedtch.jpg" alt="logo">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../views/nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/fqs.html">FQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <section class="text-center p-5">
            <div>
            <img src="../assets/imagen_telefono.png" width="50px" alt="Telefono">
            </div>
            <p>Llamanos o escribenos al +56 9 1234 5678</p>
            <div>
            <img src="../assets/imagen_correo.png" width="50px" alt="Correo">
            </div>
            <p>Puedes escribirnos via e-mail a naturamedtch@gmail.com</p>
        </section>
        <br>
        <div class="text-center">
            <p>Tambien puedes completar el siguiente formulario con tus inquietudes y te contactaremos a la brevedad.</p>
        </div>
    <section class="form">
        <form class="w-50 mx-auto">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form4Example1" class="form-control" />
              <label class="form-label" for="form4Example1">Nombre</label>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form4Example2" class="form-control" />
              <label class="form-label" for="form4Example2">E-mail</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-4">
              <textarea class="form-control" id="form4Example3" rows="4"></textarea>
              <label class="form-label" for="form4Example3">Mensaje</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-success btn-block mb-4">Enviar</button>
            <button type="reset" class="btn btn-success btn-block mb-4">Reiniciar</button>
          </form>
    </section>
    </main>
    <br>
    <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6858.7347249469985!2d-62.82106067759855!3d8.237216244470988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8dcbff7aee300cb3%3A0xf735010a2478f711!2sGran%20Sabana%2C%20Ciudad%20Guayana%208050%2C%20Bol%C3%ADvar%2C%20Venezuela!5e1!3m2!1ses!2scl!4v1661390833835!5m2!1ses!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <!--iframe google maps-->

        <footer class="text-center text-lg-start text-white"
        style="background-color: #B6AF7A"
        >
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
              <!--Grid row-->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto          mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">
                    Centro de medicina alternativa
                  </h6>
                  <p>
                    LCDA. Carmen Marcano, especialista en Medicina China
                  </p>
                </div>
                <!-- Grid column -->
        
                <hr class="w-100 clearfix d-md-none" />
        
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Aliados comerciales</h6>
                  <p>
                    <a class="text-white">Diseño - JLanz</a>
                  </p>
                  <p>
                    <a class="text-white">Desarrollo - Farias</a>
                  </p>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                  <p><i class="fas fa-home mr-3"></i>MZ20 C29 Av. Caracas, Ciudad Guayana 8050</p>
                  <p><i class="fas fa-envelope mr-3"></i>cmarcano1464@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i>+58 414-3862746</p>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4          font-weight-bold">Follow us</h6>
                  <!-- Facebook -->
                  <a class="btn btn-primary btn-floating m-1"
                     style="background-color: #A08A52"
                     href="https://www.facebook.com/profile.php?id=100010657398609"
                     role="button"
                     ><i class="fab fa-facebook-f"></i
                    ></a>
                </div>
              </div>
            </section>
          </div>
          <!-- Grid container -->
          <!-- Copyright -->
          <div class="text-center p-3"
               style="background-color: rgba(0, 0, 0, 0.2)"
               >
            © 2022 Todos los derechos reservados.<a href="#top">Ir al inicio</a>
          </div>
          <!-- Copyright -->
        </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>